{% extends 'base.html.twig' %}
{% block title %} adhérents{% endblock %}
{% block body %}
    <div class="">
{#        <h2 class="text-xl my-3">Triez les dépots</h2>#}
{#        <div class="">#}
{#            {{ form_start(form) }}#}
{#            <div class="flex">#}
{#                {{ form_row(form.nom,{'attr':{'class':'border border-8 border-black  py-1 px-3'}}) }}#}
{#                <div class="">#}
{#                    <button class="h-full bg-purple-500 py-1 px-3 text-white"><i class="fas fa-search"></i></button>#}
{#                </div>#}
{#            </div>#}
{#            {{ form_end(form) }}#}
{#        </div>#}
        <h1 class="text-3xl my-2">Les Adhérents</h1>

        <table class="w-full text-center bg-white hidden md:table">
            <thead class="bg-black text-white">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Filère</th>
                <th>Mtricule</th>
                <th>Poste</th>
                <th>Role</th>
                <th>Total cotisé</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for adherent in adherents %}
            <tr class="{% if loop.index is even %}bg-gray-300{% endif %}">
                <td>{{ adherent.nom}}</td>
                <td>{{ adherent.prenom }}</td>
                <td>{{ adherent.sexe.nom}}</td>
                <td>{{ adherent.filiere.nom }}</td>
                <td>{{ adherent.matricule}}</td>
                <td>{{ adherent.poste.nom }}</td>
                <th>
                    {% for role in adherent.getAdhrentRoles() %}
                        {% if role.nom == 'ROLE_ADMIN' %}
                            Admin
                        {% else %}
                            Visiteur
                        {% endif %}
                    {% endfor %}
                </th>
                <td>
                    {% set total = 0 %}
                    {% for depot in adherent.depots %}
                        {% set total = total + depot.somme.nom %}
                    {% endfor %}
                    {{ total }} XAF
                </td>
                <td><a class="inline-grid my-2 p-1 mr-5 bg-purple-600 text-white" href="{{ path('profile_public',{'id' : adherent.id }) }}"><i class="fas fa-eye"></i></a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <table class="w-full bg-white md:hidden">
            <tbody>
            {% for adherent in adherents %}
            <tr class="">
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Nom</th>
                <td>{{ adherent.nom}}</td>
            </tr>
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Prenom</th>
                <td>{{ adherent.prenom }}</td>
            </tr>
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Sexe</th>
                <td> {{ adherent.sexe.nom }}</td>
            </tr>
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Filière</th>
                <td> {{ adherent.filiere.nom }}</td>
            </tr>
                <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                    <th>Matricule</th>
                    <td> {{ adherent.matricule }}</td>
                </tr>
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Poste</th>
                <td> {{ adherent.poste.nom}}</td>
            </tr>
                <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                    <th>Role</th>
                    <td>
{#                        {% for role in adherent.roles %}#}
{#                            {{ role.nom }}#}
{#                        {% endfor %}#}
                    </td>
                </tr>
            <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                <th>Total cotisé</th>
                <td>
                    {% set total = 0 %}
                    {% for depot in adherent.depots %}
                        {% set total = total + depot.somme.nom %}
                    {% endfor %}
                    {{ total }} XAF
                </td>
            </tr>
                <tr class="{% if loop.index is even %} bg-gray-300{% endif %}">
                    <th>Action</th>
                    <td>
                        <a class="inline-grid my-2 p-1 mr-5 bg-purple-600 text-white" href="{{ path('profile_public',{'id' : adherent.id }) }}"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}



