{% extends 'base.html.twig' %}

{% block title %}Edit Depense{% endblock %}

{% block body %}
    <div id="modal"class=" flex justify-center items-center flex-col">
        <div class="my-5 w-9/12 bg-white p-3 md:w-max">
            <p class="mb-2 text-right"><button id="closemodal"><i class="fas fa-times"></i></button></p>
            <h2 class="text-2xl text-center">Effectuer une dépense</h2>
            {{ form_start(form) }}
            <div class="mb-4">
                {{ form_row(form.somme,{'attr':{'class':'border border-2 border-gray-500 px-3'}}) }}
            </div>
            <div class="mb-4">
                {{ form_row(form.motif,{'attr':{'class':'border border-2 border-gray-500 px-3'}}) }}
            </div>
            <div class="">
                <button class="bg-green-600 text-white py-1 px-3 w-full " type="submit">Retirer</button>
            </div>
            {{ form_end(form) }}

            <a class="text-blue-500" href="{{ path('depense_index') }}">retour à la liste</a>
        </div>
    </div>

{#    {{ include('admin/depense/_form.html.twig', {'button_label': 'Update'}) }}#}


{#    {{ include('depense/_delete_form.html.twig') }}#}
{% endblock %}
