{% extends 'base.html.twig' %}

{% block title %}Depense{% endblock %}

{% block body %}
    <h1>Depense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr>
            <tr>
                <th>Somme</th>
                <td>{{ depense.somme }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ depense.motif }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ depense.created ? depense.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('depense_index') }}">back to list</a>

    <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}
