{% extends 'adminbase.html.twig' %}

{% block title %}Adherent index{% endblock %}

{% block body %}
    <section class="mt-5">
        {% for message in app.flashes('success')  %}
            <p class="bg-green-300 text-green-800 py-1 px-3">{{ message }}</p>
        {% endfor %}
        {% for message in app.flashes('supprimer')  %}
            <p class="bg-red-300 text-red-800 py-1 px-3">{{ message }}</p>
        {% endfor %}
        <h1 class="text-3xl my-2">Les Adhérents</h1>
        <p class="mb-2 text-right"><button id="depotadd" class="text-white bg-blue-600 p-1"><i
                        class="fa fa-plus"></i></button></p>

        <div>
            <table class="w-full text-center bg-white hidden md:table">
                <thead class="bg-black text-white">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th>Filiere</th>
                    <th>Matricule</th>
                    <th>Poste</th>
                    <th>Total cotisé</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for adherent in adherents %}
                {% set total = 0 %}
                    <tr class="{% if loop.index is even %}bg-gray-300{% endif %}">
                        <td>{{ adherent.nom }}</td>
                        <td>{{ adherent.prenom }}</td>
                        <td>{{ adherent.sexe.nom }}</td>
                        <td>{{ adherent.filiere.nom }}</td>
                        <td>{{ adherent.matricule }}</td>
                        <td>{{ adherent.poste.nom }}</td>
                        <td>

                            {% for depot in adherent.depots %}

                                {% set total = total + depot.somme.nom  %}
                            {% endfor %}
                            {{ total | number_format(0,'','.') }} XAF

                        </td>
                        <td>
                            <div class="flex justify-between py-1">
                                <a href="{{ path('adherent_edit', {'id': adherent.id}) }}" class="p-1 bg-green-600 text-white"><i class="fas fa-edit "></i></a>
                                {{ include('admin/adherent/_delete_form.html.twig') }}
                                <a class="p-1  bg-purple-600 text-white" href="{{ path('adherent_show',{'id' : adherent.id}) }}"><i class="fas fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <table class="w-full bg-white md:hidden">
                <tbody>
                {% for adherent in adherents %}
                {% set total = 0 %}
                    <tr>
                    <tr class="bg-gray-300">
                        <th>Nom</th>
                        <td>{{adherent.nom}}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ adherent.prenom }}</td>
                    </tr>
                    <tr class="bg-gray-300">
                        <th>Sexe</th>
                        <td> {{ adherent.sexe.nom }}</td>
                    </tr>
                    <tr>
                        <th>Filiere</th>
                        <td>{{ adherent.filiere.nom }}</td>
                    </tr>
                    <tr class="bg-gray-300">
                        <th>Matricule</th>
                        <td> {{ adherent.matricule }}</td>
                    </tr>
                    <tr>
                        <th>Poste</th>
                        <td> {{ adherent.poste.nom }}</td>
                    </tr>
                    <tr class="bg-gray-300">
                        <th>Total cotisé</th>
                        <td>
                            {% for depot in adherent.depots %}
                                {% set total = total + depot.somme.nom  %}
                            {% endfor %}
                            {{ total | number_format(0,'','.') }} XAF
                        </td>
                    </tr>


                    <tr>
                        <th>Action</th>
                        <td>
                            <div class="flex flex-row py-1">
                                <a href="{{ path('adherent_edit', {'id': adherent.id}) }}" class=" p-1 mr-5 bg-green-600 text-white"><i class="fas fa-edit "></i></a>
                                {{ include('admin/adherent/_delete_form.html.twig') }}
                                <a class="p-1 ml-5 bg-purple-600 text-white" href="{{ path('adherent_show',{'id' : adherent.id}) }}"><i class="fas fa-eye"></i></a>
                            </div>

                        </td>
                    </tr>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        {# formulaire de d enregistrement du nouvel adherent qui est caché #}
        <div id="modal"class="hidden w-full h-full fixed left-0 top-0 flex justify-center items-center flex-col ">
            <div class="my-2  bg-white p-2 w-max">
                <p class="mb-1 text-right"><button id="closemodal"><i class="fas fa-times"></i></button></p>
                <h2 class="text-2xl text-center">Inscrivez un membre</h2>
                {{ form_start(form) }}
                <div class="mb-4 flex flex-col ">
                    <label for="">Nom</label>
                    {{ form_row(form.nom,{'attr':{'class':'w-full border border-2 border-gray-500 px-3'}}) }}
                </div>
                <div class="mb-4 flex flex-col ">
                    <label for="">Prenom</label>
                    {{ form_row(form.prenom,{'attr':{'class':'w-full border border-2 border-gray-500 px-3'}}) }}
                </div>
                <div class="flex justify-between  my-4">
                    <div class=" flex flex-col ">
                        <label for="">Sexe</label>
                        {{ form_row(form.sexe,{'attr':{'class':'  border border-2 border-gray-500 px-3'}}) }}
                    </div>
                    <div class=" flex flex-col ml-5">
                        <label for="">Poste</label>
                        {{ form_row(form.poste,{'attr':{'class':'border border-2 border-gray-500 px-3'}}) }}
                    </div>
                </div>
                <div class="flex justify-between  my-4">
                    <div class=" flex flex-col ">
                        <label for="">Filière</label>
                        {{ form_row(form.filiere,{'attr':{'class':'border border-2 border-gray-500 px-3'}}) }}
                    </div>
                    <div class=" flex flex-col ml-5">
                        <label for="role">Role</label>
                        <select class="px-2 border border-2
                            border-gray-500" name="role" id="role">
                            <option value="">visiteur</option>
                            <option value="">admin</option>
                            <option value="">super admin</option>
                        </select>
                    </div>
                </div>
                <div class="mb-4 flex flex-col ">
                    <label for="">Matricule</label>
                    {{ form_row(form.matricule,{'attr':{'class':'w-full border border-2 border-gray-500 px-3'}}) }}
                </div>
                <div class="mb-4 flex flex-col ">
                    <label for="">Mot de passe</label>
                     {{ form_row(form.mdp.first,{'attr':{'class':'w-full border border-2 border-gray-500 px-3'}}) }}
                </div>

                <div class="mb-4 flex flex-col ">
                     <label for="">Confirmez le mot de passe</label>
                    {{ form_row(form.mdp.second,{'attr':{'class':'w-full border border-2 border-gray-500 px-3'}}) }}
                </div>
                <div class="">
                    <button class="bg-green-600 text-white py-1 px-3 w-full " type="submit">Inscrire</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>
{% endblock %}
